body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

p {
    margin-top: 1rem;
    font-family: STXingkai;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}
